<div class="wrapper">
	<h2>Авторизация</h2>
	<form method="POST" action="/front/login">
		<div class="form-field">
			<input type="username" placeholder="Логин" name="username" required />
		</div>
		<div class="form-field">
			<input type="password" placeholder="Пароль" name="password" required /> 
		</div>
		<div class="form-field">
			<button class="btn" type="submit">Войти</button>
		</div>

		<br /><br /><br />
		<div class="form-field">
			<button class="btn btn-try">Js Bridge Try</button>
		</div>
	</form>
</div>

<script type="text/javascript">
	{{#if authError}}
		showToast('Неверные логин или пароль', true);
	{{/if}}

	$(".btn-try").on("click", function() {
		console.log("================");
		window.kmpJsBridge.callNative("Greet", JSON.stringify({message:"Hello"}),
		  function (data) {
		    document.getElementById("subtitle").innerText = data;
		    console.log("Greet from Native: " + data);
		  }
		);
		console.log("++++++++++++++++");  		
	});

</script>